.container-product {
  display: flex;
  margin: 10px;
  flex-wrap: wrap;
  background-color: #fff;
  width: 300px;
  height: 300px;
  box-shadow: 0 13px 13px 1px rgb(0 0 0 / 50%);
}

.image-product {
  height: 75%;
  width: 100%;
}

.container-information-catalog {
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}