* {
  padding: 0;
  margin: 0;
}

html, body {
  font-size: 18px;
  background-color: #f1f1f1;
}

h1 {
  max-width: 940px;
  font-size: 2.5em;
  font-family: Lato;
  font-weight: 700px;
  line-height: 1.1;
  margin: 40px 0;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-principal {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.container-products {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}